@import "../../../variables";

#Navbar{
  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  }
  .flex-column {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
  }
  .d-flex {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
  }
  button{
    background-color: #ffffff;
    color: $primary-color;
    border-color: $primary-color
  }
  button:hover{
    background-color: $primary-color;
    color: #ffffff;
  }
}