$primary-color: #146de0e8;
$secondary-color: #214779e8;   
$primary-font-color: #8195a7; 
$secondary-font-color: #ffffff;
$tertiary-font-color: #D2E4F5; 

//Tela de login
$primary-login-color: #146de0e8;
$input-login: #146de0e8;
$input-login-hover: #146de0e8;

$box-shadow: #bebcc0e8;