@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html,body{
  height: 100%;
  font-size: 12px;
  color: $primary-font-color;
  background-color: #f5f5f5;
  font-weight: 300;
  font-display: block;
  font-family: 'Muli','Helvetica Neue',Arial,sans-serif;
  line-height: 1.4!important;
  letter-spacing: -.1px!important;
}