$primary-color: #492b63e8;
$secondary-color: #4057A6;   
$primary-font-color: #8195a7; 
$secondary-font-color: #ffffff;
$tertiary-font-color: #D2E4F5; 

//Tela de login
$primary-login-color: #492b63e8;
$input-login: #492b63e8;
$input-login-hover: #3c2250;

$box-shadow: #bebcc0e8;